<% content_for :closing_js do -%>
  <script type="text/javascript">
    $ = jQuery
    // var disqus_shortname = '<%= Settings.disqus.shortname %>';
    // var disqus_identifier = '<%= parent_path %>'; // use parent path so that its only unique to the post itself.. This way categories can change and the comments can go with them...
    // var disqus_url = '<%= post_show_url(parent.blog_category, parent) %>'; // here if the url changes, the system will redirect automatically
    // var disqus_title = '<%= parent.page_title %>';
    // <%# if Rails.env.development? %>
    //   var disqus_developer = 1;
    // <%# end %>
    <%= disqus_comments(parent, parent_path) %>
    jQuery(function($) {
      $.getScript('/javascripts/disqus_comments.js');
    });
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% end -%>