$ = jQuery
$('#disqus_thread').remove();
$('#link_to_view_comments_for_post_<%= parent.id %>').replaceWith('<div id="disqus_thread"></div>');
var disqus_shortname = '<%= Settings.disqus.shortname %>';
var disqus_identifier = '<%= parent_path %>'; // use parent path so that its only unique to the post itself.. This way categories can change and the comments can go with them...
var disqus_url = '<%= post_show_path(parent.blog_category, parent) %>'; // here if the url changes, the system will redirect automatically
var disqus_title = '<%= parent.page_title %>';
<% if Rails.env.development? %>
  // var disqus_developer = 1;
<% end %>
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();