- og_title "Manage Categories & Media"
= render 'posts/admin_links'
%ul#blog_category_sortables.sortme
  - collection.each do |resource|
    %li#sortable{:id => resource.id, :style => 'cursor:move;'}
      %h2= link_to resource.page_title, blog_category_posts_path(resource)
      %p= resource.description
      = admin_area do
        = link_to "Edit", [:edit, resource]
        &nbsp;|&nbsp;
        = link_to "Destroy", resource, :confirm => 'Are you sure?', :method => :delete
= sortable_list(sort_blog_categories_path, "axis: 'y'", '#blog_category_sortables')

.bottom_links
  = link_to "All Posts", posts_index_path