= simple_form_for(@<%= singular_name %>) do |f|
	= render 'shared/error_messages', :target => @<%= singular_name %>
	.inputs
	<%- attributes.each do |attribute| -%>
		= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
	<%- end -%>
	.actions
		= f.submit :disable_with => 'Patience is a Virtue...'
		= cancel_b(:back, 'Back')