= simple_form_for(@post, :html => {:multipart => true}) do |f|
  = render 'shared/error_messages', :target => @post
  .inputs
    .field.select.required
      = f.label :blog_category_id, "<abbr title='required'>*</abbr>Category".html_safe, :class => 'select required'
      = f.collection_select :blog_category_id, BlogCategory.all, :id, :page_title, {:prompt => "Select a category"}, {:class => 'select required'}
      or #{link_to "create one", "#", :id => 'show_hidden_new_association_fields'}:
    #hidden_new_association_fields{:style => "display:none;"}
      = link_to "Nevermind!", "#", :id => 'hide_hidden_new_association_fields'
      = f.input :new_blog_category_name, :label => 'Blog category name', :required => true
      = f.input :new_blog_category_description, :as => :text, :label => 'Blog category description', :input_html => {:class => 'required h_s'}
    - if f.object.new_record? 
      = f.input :new_page_title, :label => 'Post title'
    - else
      = f.input :page_title, :label => 'Post title'
    = f.input :author, :input_html => {:value => (Settings.default_post_author == nil ? '' : Settings.default_post_author)}
    = f.input :body, :input_html => {:class => 'wmd'}
    = render 'images/fields', :f => f
    = render 'videos/fields', :f => f
    = render 'audios/fields', :f => f
    = render 'googles/fields', :f => f
    = f.input :tag_list, :label => 'Tag this post', :hint => 'Enter keywords and topics associated with this post'
    = f.input :media_list, :label => 'Media types', :hint => 'Enter media types regarding this post. It\'s similar to the tags you entered above but regarding media'
  .actions
    = f.submit :disable_with => 'Patience is a Virtue...'
    = cancel_b(:back, 'Back')
- content_for :closing_js do
  :javascript
    jQuery(function($) {
      $('a#show_hidden_new_association_fields').click(function() {
        $('#hidden_new_association_fields').show();
        $('a#show_hidden_new_association_fields').hide();
        return false;
      });
      $('a#hide_hidden_new_association_fields').click(function() {
        $('#hidden_new_association_fields').hide();
        $('a#show_hidden_new_association_fields').show();
        return false;
      });
    });
= wmd