= simple_form_for(@post) do |f|
  = render 'shared/error_messages', :target => @post
  .inputs
    = f.input :title
    = f.input :body
  .actions
    = f.submit :disable_with => 'Patience is a Virtue...'
    = cancel_b(:back, 'Back')